<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="/static/styles.css" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <div class="background"></div>
    <div
      class="w-screen h-screen border border-black flex align-center main-container"
    >
      <div class="m-auto flex flex-col p-10 gap-5 form predict-container">
        <h1 class="text-2xl mx-auto mt-5 mb-5">
          Model predicts that you should:
        </h1>
        <h1 class="text-4xl mx-auto mt-5 mb-10">
          <b>Seek treatment.</b>
        </h1>
        <div class="flex">
          <img
            src="/static/images/good-nobg.png"
            class="mx-auto h-64 w-64"
            alt="good"
          />
          <h1 class="text-2xl mx-auto mr-10">
            Here are some trusted organizations that can provide the help you
            need:<br /><br />
            •⁠ ⁠Mental Health Foundation:
            <a target="”_blank”" href="https://www.mentalhealth.org"
              >https://www.mentalhealth.org</a
            >
            <br /><br />
            •⁠ ⁠National Alliance on Mental Illness (NAMI):<a
              target="”_blank”"
              href="https://www.nami.org"
            >
              https://www.nami.org</a
            >
            <br /><br />
            •⁠ ⁠ Mental Health America (MHA):
            <a href="https://www.mhanational.org" target="”_blank”"
              >https://www.mhanational.org</a
            >
          </h1>
        </div>
      </div>
    </div>
  </body>
</html>
