<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="/static/styles.css" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <div class="background"></div>
    <div
      class="w-screen h-screen border border-black flex align-center main-container"
    >
      <div class="m-auto flex flex-col p-10 gap-5 form predict-container">
        <h1 class="text-2xl mx-auto mt-5 mb-5">Model predicts:</h1>
        <h1 class="text-4xl mx-auto mt-5 mb-10">
          <b>It not necessary for you to seek treatment</b>
        </h1>
        <div class="flex">
          <img
            src="/static/images/good-nobg.png"
            class="mx-auto h-64 w-64 mr-5"
            alt="good"
          />
          <h1 class="text-2xl mx-auto mr-10 mt-5">
            It's important to maintain your mental well-being. Here are some
            tips to keep your mental health in check:
            <br /><br />
            •⁠ ⁠Engage in regular physical activity.<br />
            •⁠ ⁠Maintain a balanced diet. <br />
            •⁠ ⁠Ensure you get adequate sleep.
          </h1>
        </div>
      </div>
    </div>
  </body>
</html>
